

/*$primary-dark: #353563;
$primary-light: #595977;
$secondary-dark: #1f820c;
$secondary-light: #1f820c9e;*/
$primary-dark: #595977;
$primary-light: #595977c4;
$secondary-dark: #1b8807f0;
$secondary-light: #1f820c82;

$grey-dark: #53654f;
$grey-light: #a5afa3;
