@import "~font-awesome/css/font-awesome.min.css";

@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);
// font-family: 'Ubuntu', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap);
// font-family: 'Ubuntu Condensed', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
// font-family: 'Roboto', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Fira+Code&display=swap);
// font-family: 'Fira Code', monospace;

@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap);
// font-family: 'Fira Sans Condensed', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
// font-family: 'Josefin Sans', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap);
// font-family: 'Noto Sans TC', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
// font-family: 'Lato', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Belleza&display=swap);
// font-family: 'Belleza', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swa);
// font-family: 'Open Sans Condensed', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
// font-family: 'Open Sans', sans-serif;


$ubuntu: 'Ubuntu', sans-serif;
$ubuntu-condensed: 'Ubuntu Condensed', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$fira-code: 'Fira Code', monospace;
$fira-sans-condensed: 'Fira Sans Condensed', sans-serif;
$josefin-sans: 'Josefin Sans', sans-serif;
$noto-sans-tc: 'Noto Sans TC', sans-serif;
$lato: 'Lato', sans-serif;
$belleza: 'Belleza', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$font-primary: $ubuntu-condensed;
$font-secondary: $fira-sans-condensed;
